<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">
      {{ site.title }}
    </div>
  </div>
    <div class="mdl-mini-footer__right-section">
    <span class="social-title hide-small"> Connect with me:
    </span>
    <!-- <ul class="mdl-mini-footer__link-list">
      {% if site.linkedinurl %}
      <li>
        <a href="{{ site.linkedinurl }}">Linked In</a>
      </li>
      {% endif %}

      {% if site.github_username %}
      <li>
        <a href="https://github.com//{{ site.github_username }}">Github</a>
      </li>
      {% endif %}
    </ul> -->
    <button class="mdl-mini-footer__social-btn">a</button>
    <button class="mdl-mini-footer__social-btn">b</button>
    <button class="mdl-mini-footer__social-btn">c</button>
  </div>
</footer>
